@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
html {
    scroll-behavior: smooth;
}
h2 {
    padding: 0 0 20px 20px;
    font-size: 2rem;
}
body {
    background: #eee;
}